<div id="opti_landingpageID" class="opti_account-submodule-wrapper">

   
  <div class="float-left opti_account-banner-section">
  </div>

  <div class="float-right opti_account-form-section">
      <div class="opti_outer-landing opti_account-submodule-container">
        <div class="opti_vertcal-align-outer-box">
            <div class="panel-body position-relative" [perfectScrollbar]="">
                
                <img src="assets/images/logo/large-logo.png" alt="brandlogo" class="opti_account-logo">

                <div class="opti_landing-link">
                  <button (click)="navigateToSignIn()" class=""> Login</button>
                  <button (click)="navigateToSignUp(1)" class="">Customer Sign Up</button> 
                  <button (click)="navigateToSignUp(2)" class="" disabled>Vendor Sign Up</button>
                  <button (click)="navigateToSignUp(3)" class="" >Bizchat User Sign Up</button>

                  <button (click)="navigateToset()" class="" >Set Password</button>
                  <button (click)="navigateToreset()" class="" >Reset Password</button>
                  <button (click)="navigateTohome()" class="" >Home</button>
                </div>
              
            </div>
        </div>    
      </div>
  </div>   
</div>