<div id="opti_resetPasswordID" class="opti_account-submodule-wrapper">

  <div class="float-left opti_account-banner-section" style="">
  </div>

  <div class="float-right opti_account-form-section">
      <div class="opti_outer-resetpassword opti_account-submodule-container">
      <div class="opti_vertcal-align-outer-box">
          <div class="panel-body position-relative" [perfectScrollbar]="">

              <!-- loader start -->
                  <div class="opti_loader" *ngIf="showLoader==true">
                      <div class="opti_spinner"></div>
                  </div>
              <!-- loader end -->

              <form class="k-form" #resetsetPasswordForm = "ngForm">

                      <div class="text-center">
                          <h5>Forgot Your Password?</h5>
                      </div>

                      <label class="k-form-field">
                          <span class="opti_form-label">Email *
                              <span class="float-right opti_error-msg" *ngIf="resetEmail.errors?.required && (resetEmail.dirty || resetEmail.touched)" >Email is required.
                              </span>
                              <span *ngIf="resetEmail.errors?.email && resetEmail.touched" class="float-right opti_signup-validation-top-side opti_error-msg">
                                      Please enter valid emailId.
                                  </span>
                          </span>
                          <input type="email" email required class="k-textbox" #resetEmail = ngModel [(ngModel)]="email" name="email" placeholder="e.g. test@gmail.com" tooltip="{{'Please enter your email address to reset password. we will send you a link shortly.'}}" placement="right" container="body" required/>
                      </label>

                      <div class="text-right">
                          <button  type="button" [disabled] = "!resetsetPasswordForm.valid" class="k-button k-primary w-100" (click)="resetPassword()">Send me a link</button>
                      </div> 
                      
              </form>
          </div>
      </div>    
      </div>
  </div>    

</div>