<div class="opti_sales-order-detail-home position-relative h-100" id="opti_SalesOrderDetailHomeID" [perfectScrollbar]="">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block">
              <form class="k-form">
  
                <label class="k-form-field">
                    <span class="opti_form-label">Quotation Number</span>
                    <input name="quotationnumber" type="text" class="k-textbox" [(ngModel)]="quotationNumber" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Status</span>
                    <input name="status" type="text" class="k-textbox" [(ngModel)]="Status" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Valid Until</span>
                    <input name="validuntil" type="text" class="k-textbox" [(ngModel)]="validUntil" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Document Date</span>
                    <input name="documentdate" type="text" class="k-textbox" [(ngModel)]="documentDate" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Sales Employee</span>
                    <input name="salesemployee" type="text" class="k-textbox" [(ngModel)]="salesEmployee" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Owner</span>
                    <input name="owner" type="text" class="k-textbox" [(ngModel)]="Owner" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Remark</span>
                    <input name="remark" type="text" class="k-textbox" [(ngModel)]="Remark" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Place Of supply</span>
                    <input name="placeofsupply" type="text" class="k-textbox" [(ngModel)]="placeOfSupply" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Total before discount</span>
                    <input name="beforediscount" type="text" class="k-textbox" [(ngModel)]="totalBeforeDiscount" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Discount %</span>
                    <input name="discountpercentage" type="text" class="k-textbox" [(ngModel)]="discountPercantage" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Discount</span>
                    <input name="discount" type="text" class="k-textbox" [(ngModel)]="Discount" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Freight</span>
                    <input name="freight" type="text" class="k-textbox" [(ngModel)]="Freight" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Tax</span>
                    <input name="tax" type="text" class="k-textbox" [(ngModel)]="Tax" readonly />
                </label>
  
                <label class="k-form-field">
                    <span class="opti_form-label">Total</span>
                    <input name="total" type="text" class="k-textbox" [(ngModel)]="Total" readonly />
                </label>
                
              </form>
            </div>
          </div>
        </div> 
      </div> 
    </div>  
  </div>