<div id="opti_SalesOrderListID">   
  <!-- loader start -->
   <div class="opti_loader opti_loader-module-grid-list" *ngIf="showLoader">
       <div class="opti_spinner"></div>
   </div>
   <!-- loader end -->  

   <ng-container *ngIf="showLoader==false">
       <!-- for normal user   -->
       <!-- <div *ngIf="systemAdmin!='true'"> -->
        <div>
            <kendo-grid 
            [kendoGridBinding]="gridData" 
            [resizable]="false" 
            [pageSize]="selectedValue" 
            [pageable]="true" 
            [sortable]="true"  
            [filterable]=isColumnFilter
            [groupable]=isColumnGroup 
            [columnMenu]="{ columnChooser: false }" 
            [height]=gridHeight 
            [selectable]="true" 
            (selectionChange)="openSalesOrderDetailOnSelectSalesOrder($event)"
            #gridItem>
                <!-- [kendoGridBinding]="gridData | customPipeItem:searchRequest"  -->
                <!-- (selectionChange)="openInqueryDetailOnSelectInquery(gridItem, $event, true, gridItem)" -->

                <!-- grid template start -->
                <ng-template kendoGridToolbarTemplate>
                    <!-- show hide column start show hide -->
                    <kendo-grid-column-chooser class="float-left opti_hide-in-mobile"></kendo-grid-column-chooser>

                    <!-- checkbox -->
                    <form class="k-form opti_show-hide-grid-column-filter float-left opti_hide-in-mobile">
                        <div class="k-form-field float-left">
                            <input #chkFilter type="checkbox" (change)="onFilterChange(chkFilter,gridItem)" id="opti_SalesOrderListColumnFilterID" [(ngModel)]="isColumnFilter" class="k-checkbox" name="columnfilter" />
                            <label class="k-checkbox-label" for="opti_SalesOrderListColumnFilterID">Enable Filter</label>
                        </div>

                        <div class="k-form-field float-left">
                            <input type="checkbox" id="opti_SalesOrderColumnGroupID"  [(ngModel)]="isColumnGroup" class="k-checkbox" name="columnGroup" />
                            <label class="k-checkbox-label" for="opti_SalesOrderColumnGroupID">Enable Grouping</label>
                        </div>
                    </form>

                    <!-- export -->
                    <button type="button" kendoGridExcelCommand icon="file-excel" class="opti_hide-in-mobile float-left opti_grid-toolbar-excelbutton">
                        <svg-icon src="assets/images/common/download.svg" [svgStyle]="{ 'width.px':16, 'height.px':16}"></svg-icon>
                    </button>

                    <!-- <div class="float-left">
                    <kendo-dropdownlist [data]="listItems" [(ngModel)]="selectedValue"></kendo-dropdownlist>
                    </div> -->


                    <div class="float-right opti_grid-mainlist-mobile-search opti_right-top-sec-grid">
                        <form class="k-form opti_common-search-form float-left p-0">
                            <label class="k-form-field opti_common-search-label">
                                <input type="text" class="k-textbox" name="searchRequest" [(ngModel)]="searchRequest" />
                                <span class="opti_vertical-align opti_mouse-pointer"><img src="assets/images/common/search-black.svg" class="" alt="Search" width="15" /></span>
                            </label>
                        </form>
                    </div>

                    

                </ng-template>

                
                <!-- grid for mobile start -->
                <kendo-grid-column media="(max-width: 767px)" title="Payment List" class="opti_mobile-grid-td">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <dl class="opti_mobile_grid_dl">
                            <dt>Quotation Number</dt>
                            <dd>{{ dataItem.QuotationNumber }}</dd>

                            <dt>Quotation Date</dt>
                            <dd>{{ dataItem.QuotationDate }}</dd>

                            <dt>Remark</dt>
                            <dd>{{ dataItem.Remark }}</dd>

                            <dt>Delivery Date</dt>
                            <dd>{{ dataItem.DeliveryDate }}</dd>

                            <dt>Sales Employee</dt>
                            <dd>{{ dataItem.SalesEmployee }}</dd>

                            <dt>Owner</dt>
                            <dd>{{ dataItem.Owner }}</dd>
                        </dl>

                        <dl class="opti_mobile_grid_dl">
                            <dt>Total <span class="opti_arrow-grid-detail float-right text-center opti_vertical-align">&rsaquo;</span></dt>
                            <dd>{{ dataItem.Total }}</dd>

                            <dt>Item Service Type</dt>
                            <dd>{{ dataItem.ItemServiceType }}</dd>

                            <dt>Document Date</dt>
                            <dd>{{ dataItem.DocumentDate }}</dd>

                            <dt>Status</dt>
                            <dd>{{ dataItem.Status }}</dd>

                            <dt>Branch</dt>
                            <dd>{{ dataItem.Branch }}</dd>
                        </dl>
                    </ng-template>
                </kendo-grid-column>
                <!-- grid for mobile end -->



                <kendo-grid-column media="(min-width: 768px)" field="QuotationNumber" title="Quotation Number" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="QuotationDate" title="Quotation Date" [width]="160" filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Remark" [width]="160" title="Remark"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="DeliveryDate" [width]="160" title="DeliveryDate" filter="date" type=date format="{0:dd MMM yy}"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="SalesEmployee" title="Sales Employee" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Owner" title="Owner" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Total" title="Total" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="ItemServiceType" [width]="160" title="Item/Service Type"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="DocumentDate" title="Document Date" [width]="160" filter="date"  type=date format="{0:dd MMM yy}"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Status" title="Status" [width]="160"></kendo-grid-column>
                <kendo-grid-column media="(min-width: 768px)" field="Branch" title="Branch" [width]="160"></kendo-grid-column>
                
                <!-- xlsx template start -->
                <kendo-grid-excel fileName="Sales-order.xlsx"></kendo-grid-excel>
                <!-- xlsx template end -->
            </kendo-grid>
        </div>
   </ng-container>
</div>
