@import '_typography-button-layout';
@import '_responsive';
@import '_custom-kendo';
@import '_common';


/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Account CSS///////////////////////
/////////////////////////////////////////////////////////////////////

// can not move this css in specific component and and account css becuase here we are useing css on the basis of body and if we will call  in specific component than it will not work

  // set password
  // login
  // signup

  body.opti_account-module
  {
    background-image: url('/assets/images/signup/nouse/shutter/body-bg-new-5.jpg');
    background-position: center center;
    background-size: cover;
    padding: 50px;
    background-repeat: no-repeat;
    float: left;
    width: 100%;
  }

  /////////////////////////////////////////////////////////////////////
/////////////////////////////End Account CSS/////////////////////////
/////////////////////////////////////////////////////////////////////  

/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Add Item CSS//////////////////////
/////////////////////////////////////////////////////////////////////

#opti_AddItemFormSectionID{
  kendo-datepicker{
      kendo-dateinput{
        width: calc(100% - 30px);
      }
      .k-dateinput-wrap, .k-select {
          border: none ;
      }
      .k-picker-wrap {
          border-color: $input-border-color;
      }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Add Item CSS////////////////////////
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
/////////////////////////////Start Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////

kendo-grid tr:hover dl span,
kendo-grid tr:hover dl span strong {
  color: white;
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////end Purchase Inquiry//////////////////
/////////////////////////////////////////////////////////////////////

app-attachment, app-attachment-item{
  kendo-grid{
    table{
      tbody{
        tr td:first-child{
          text-align: center;
          svg-icon{
            cursor: pointer;
          }  
        }
      }
    }
  }
}


/////////////////////////////////////////////////////////////////////
/////////////////////////////start customer Purchase Order///////////
/////////////////////////////////////////////////////////////////////
app-customer-purchase-order-list, 
file-drop {
  height: 100%;
  display: flex;
}

.opti_body-customer-purchase-order{
  file-drop #dropZone{
    height: auto;
    border: none;
    .content{
      height: auto;
    }
  }
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////end customer Purchase Order/////////////
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css start///////////////////
/////////////////////////////////////////////////////////////////////

app-sales-order-detail-attachment{
  kendo-grid{
    table{
      tbody{
        tr td:first-child{
          text-align: center;
          svg-icon{
            cursor: pointer;
          }  
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////
/////////////////////////////some common css end/////////////////////
/////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
/////////////////////////////////////////////////////////////////////
#opti_SalesOrderDetailAttchment{
  file-drop #dropZone{
    margin: 0;
    height: auto;
    border: none;
    .content{
      height: auto;
    }
  }
}

#opti_SalesOrderDetailAttchment{
  .drop-zone{
    width: 100%;
    kendo-grid{
      width: 100%;
    }
  }
}

file-drop .drop-zone.over {
  background-color: transparent;
}
/////////////////////////////////////////////////////////////////////
/////////////////////////////File drop css start/////////////////////
/////////////////////////////////////////////////////////////////////