<div id="opti_setPasswordID" class="opti_account-submodule-wrapper">

  <div class="float-left opti_account-banner-section">
  </div>

  <div class="float-right opti_account-form-section">
      <div class="opti_outer-setpassword opti_account-submodule-container">
          <div class="opti_vertcal-align-outer-box">
              <div class="panel-body position-relative" [perfectScrollbar]="">

                  <!-- loader start -->
                      <div class="opti_loader" *ngIf="showLoader==true">
                          <div class="opti_spinner"></div>
                      </div>
                  <!-- loader end -->

                  <form class="k-form" #setPasswordForm = "ngForm">

                          <div class="text-center">
                              <h5>Set Your Password</h5>
                          </div>

                          <label class="k-form-field">
                              <span class="opti_form-label">Email</span>
                              <input type="email" class="k-textbox" [(ngModel)]="userLoginEmail"  name="email" disabled/>
                          </label>

                          <div ngModelGroup="passwordGroup" #passwordGroup = "ngModelGroup" >
                          <label class="k-form-field">
                              <span class="opti_form-label">Password *
                                  <span class="float-right opti_error-msg" *ngIf="Password.errors?.required && (Password.dirty || Password.touched)">Please enter password.</span>
                              <span class="float-right opti_error-msg" *ngIf="Password.errors?.minlength && (Password.dirty || Password.touched)" >Please should be minimum 8 characters.</span></span>
                              <input type="password" required #Password = ngModel [(ngModel)]="userModel.Password" (input)="checkPasswordStrength($event.target.value)" (keyup)= "RePassword.control.updateValueAndValidity()"  minlength="8" name="password" class="k-textbox" value="" placeholder="Your password" tooltip="{{'Password must have atleast 8 characters, 1 uppercase, 1 lowercase, 1 special character and 1 number.'}}" placement="right" container="body" />
                              <span class="opti_password-indicator-stripped">
                                  <span [ngClass]="{'opti_weak-pass': passwordStrengthStatus==1, 'opti_medium-pass': passwordStrengthStatus==2, 'opti_strong-pass':  passwordStrengthStatus==3, 'opti_strong-pass-full':  passwordStrengthStatus==4}"> </span>
                              </span>
                          </label>
                          

                          <label class="k-form-field">
                              <span class="opti_form-label">Confirm Password *
                                  <span class="float-right opti_error-msg" *ngIf="RePassword.errors?.required && RePassword.touched" >Confirm password is required </span>
                                  <span class="float-right opti_error-msg" *ngIf="RePassword.errors?.notEqual && RePassword.touched && !RePassword.errors?.required" >Both passwords should be same.</span>
                          </span>
                              <input type="password" required #RePassword = ngModel [(ngModel)]="userModel.ConfirmPassword" appConfirmPasswordEquilValidator="password" name="retype_password" class="k-textbox" value="" placeholder="Confirm password"  />
                          </label>
                          </div> 
          
                          <div class="text-right">
                              <button type="button" class="k-button k-primary w-100" [disabled]="!setPasswordForm.form.valid || passwordStrengthStatus!=4" (click)="setPassword()" >Set Password</button>
                          </div> 
                      
                           
                  </form>
              </div>
          </div>    
      </div>
  </div>    

</div>