.opti_theme_outer{
    display: flow-root;
}
.opti_theme_color-container{
    border:1px solid #c7c7c7;
    width: auto;
    float: left;
}
.opti_theme_color-container span{
    height:20px;
    width:20px;
    float:left
}